/* You CSS goes in here */
.v-datalist-container {
  min-height: 450px;
  height: 70vh;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#diagram {
  min-height: 450px;
  height: 70vh;
  width: 100%;
  border: 0.2rem solid #97d23d;
  border-radius: 1rem;
  position: relative;
  background-color: #f1f1f1;
}

#diagram .component {
  border-radius: 10px;
  border: 2px solid green;
  width: 80px;
  text-align: center;
  cursor: move;
  background-color: white;
  position: absolute;
}

#diagram .input_component1 {
  border-radius: 10px;
  border: 2px solid green;
  width: 60px;
  text-align: center;
  cursor: move;
  /* background-color: white; */
  position: absolute;
  color: black;
  top: 20px;
  left: 10px;
}

#diagram .input_component2 {
  border-radius: 10px;
  border: 2px solid green;
  width: 60px;
  text-align: center;
  cursor: move;
  /* background-color: white; */
  position: absolute;
  color: black;
  top: 400px;
  left: 10px;
}

#diagram .output_component {
  border-radius: 10px;
  border: 2px solid green;
  width: 60px;
  text-align: center;
  cursor: move;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 10px;
}

#diagram .HIGH {
  background-color: rgb(97, 202, 97);
}

#diagram .LOW {
  background-color: rgb(206, 206, 120);
}

.toolbar-item-list {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  justify-content: space-between;
  padding: 10px;
}

.toolbar-component {
  margin: 0.3rem;
  box-sizing: border-box;
  width: 40%;
  border: 0.1rem thin rgb(0, 0, 0);
  background-color: rgb(225, 238, 225);
  border-radius: 1rem;
}

.toolbar-component:hover {
  background-color: rgb(202, 252, 202);
  cursor: pointer;
}

.each-toolbar-component {
  padding: 10px;
  font-size: 10px ;
}

.svg-component {
  width: 100%;
  height: 100%;
}

.text-danger {
  color: red;
  font-weight: bold;
  text-align: center;
}

.text-success {
  color: green;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .toolbar-item-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .toolbar-component {
    width: 90%
  }
  #diagram .component {
    width: 50px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  #diagram .component {
    width: 70px;
  }
}

.instruction-box {
  position: relative;
  width: 100%;
  transition: width 0.2s ease-out;
  border: 0.1vw solid grey;
  z-index : 10;
}

.collapsible {
  background-color: Transparent;
  color: "grey";
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
}

.collapsible::-moz-focus-inner {
  border: 0;
}

.active, .collapsible:hover {
  background-color: "white";
}

/*The unicode \25BE is for ▾ (Dropdown arrow) */
.collapsible:after {
  content: "\25BE";
  color: "grey";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B4";
}

.content {
  padding: 0 1.8vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: "white";
}

.content-box-height {
  max-height: 300px !important;
}

#output-box{
  overflow: auto;
}
